.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  padding-left: 5px;
  grid-area: c;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
}

